body{
    
    h1{
        text-align: center;
    }
    .div_exo_normal{
        margin: 20px;
        border: solid black;
    }
    .div_exo_min_et_max{
        margin: 20px;
        border: solid red;
    }
    
    .div_counter_exo5{
        margin: 20px;    
        border: solid green;
    }
}



.body_counter{
    margin-top: 5%;
    justify-content: center;
    display: flex;
}
.div_button{
    margin: 2%;
    text-align: center;
    button{
        font-size: 200%;
        height: 50px;
        width: 50px;
    }
}
.counter{
    height: 100px;
    width: 100px;
    margin: 5px;
    border: solid black 2px;
    p{
        margin-top: 4%;
        text-align: center;
    }
    button{
        width: 100%;
        width: 100%;
    }
}